.FondoBanner {
    background-color: black;
    padding-bottom: -500px;
}

.BannerIMG{
    width: 100%;
    opacity: 75%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}